
<article class="pa4 pl7 black-80">
{{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}
  <form action="/auth/login" method="post" accept-charset="utf-8">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="ph0 mh0 fw6 clip">Log in</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="email-input">Email address</label>
        <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email"  id="email-input">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6" for="password-input">Password</label>
        <input class="b pa2 input-reset ba bg-transparent w-100 measure" type="password" name="password"  id="password-input">
      </div>
    </fieldset>
    <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Log In"></div>
  </form>
<p>
  Don't have an account?
  <a href="/auth/signup">
    Create an account.
  </a>
</p>
</article>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
<script src="/scripts/auth-background.js"></script>

