<div class="fade-in">
    <h1 class="title-archive">Connect</h1>
    <p></p>
    <div class='container-archive'>
            {{#each pictures}}
            <a href="/connect/{{this._id}}"><img src="{{this.data.image}}" class="imagesInGallery" alt=""></a>
            {{else}}
            <p>There aren't pictures yet!</p>
            {{/each}}
        </div>
    </div>
    
</div>

