    <h1 class="title-archive">ARCHIVE</h1>
    <div class='container-archive'>
        <div class="images-gallery">
            {{#each pictures}}
            <a href="/gallery/{{this._id}}"><img src="{{this.data.image}}" class="image" alt=""></a>
            {{else}}
            <p>There aren't pictures yet!</p>
            {{/each}}
        </div>
    </div>