<h1>ARCHIVES</h1>

<div class=" flex flex-wrap">
    {{#each pictures}}
    <img class="w-25 " src="{{this.data.image}}" alt="">
    {{else}}
    <p>There aren't pictures yet!</p>
    {{/each}}
</div>
<div>
    <a href="/">let's draw some masterpieces</a>
</div>