<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div>
    <div class="container">
      <div class="menu">
        <a href="/gallery" class='archive'>archive</a>
        <a href="#" class='play'>playdrawexperiment</a>
        <a href="#" class='about'>about</a>
      </div>
      <div class="content">
        {{{body}}}
      </div>
    </div>
</body>
</html>