<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
</head>

<body>
  <div>
    <div class="menu">
      <a href="/gallery" class='txt'>] } ARCHIVE { [</a>
      <a href="/main" class='txt'>PLAYDRAWEXPERIMENT</a>
      <a href="#" class='txt'>] } ABOUT { [</a>
      {{#if isUserLoggedIn}}
      <a href="/personal/profile" class="txt">PROFILE</a>
      <a href="/auth/logout" class="txt">LOGOUT</a>
      {{else}}
      <a href="/auth/login" class="txt">LOGIN</a>
      <a href="/auth/signup" class="txt">SIGNUP</a>
      {{/if}}
    </div>
  </div>
  {{{body}}}
</body>

</html>