<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <div>
    <div class="menu">
      <a href="/gallery" class='archive'>] }    ARCHIVE    { [</a>
      <a href="/main" class='play'>PLAYDRAWEXPERIMENT</a>
      <a href="#" class='about'>] }    ABOUT    { [</a>
      <a href="/auth/login">LOGIN</a>
      <a href="/auth/signup">SIGNUP</a>
    </div>
  </div>
  {{{body}}}
</body>

</html>