<div class='container-archive'>
        <div class="images-gallery">
            <img src="{{picture.data.image}}" class="image" alt="">
            <p>By <a href="{{id}}">{{picture.user.name}}</a></p>
        </div>
    </div>