  <div class='container-archive'>
        <div class="images-gallery">
            <img src="{{picture.data.image}}" class="image w-100" alt="">
            <p>By <a href="/profiles/{{picture.user._id}}">{{picture.user.name}}</a></p>
        </div>
    </div>