@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

* {
  margin: 0px;
  padding: 0px;
  color: #000000;
}

/*navbar FALTA MOBILE FIRST*/
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* transform: rotate(180deg); */
  height: 60px;
  margin: 0 auto;
  padding-right: 30px;
}

ul li a {
  /* transform: rotate(180deg); */
  font-family: Fira Code;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0.5%;
  background-color: transparent;
  font-size: 15px;
  padding: 1%;
  text-align: center;
  width: 15%;
  margin-right: 30px;
  transition: width 0.8s ease 0.3s, font-size 0.8s ease 0.3s;
}


ul li a:hover {
  /* margin-right: 40px; */
  /* transform: rotate(-180deg); */
  font-size: 16px;
  width: 23%;
  border-bottom: 2px solid black;
}


.profile {
  color: #f93b20;
}

.profile:hover {
  border-bottom: 2px solid #f93b20;
}

/* sliders */

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 40px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0.9);
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0), 0px 0px 0.9px rgba(13, 13, 13, 0);
  border: 0.4px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0.9);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0), 0px 0px 0.9px rgba(13, 13, 13, 0);
  border: 0.4px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0.2px solid rgba(1, 1, 1, 0.9);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0.2px solid rgba(1, 1, 1, 0.9);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 0, 0), 0px 0px 0.9px rgba(13, 13, 13, 0);
  border: 0.4px solid #000000;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 1.6px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}

input[type=range]:focus::-ms-fill-upper {
  background: #0d0d0d;
}



/* home */

.threeDp {
  font-family: Helvetica;
  font-weight: 100;
  font-family: Fira Code;
  width: 55%;
  position: absolute;
  line-height: 1.7em;
  letter-spacing: 0.5px;
  font-size: 15px;
  top: calc(100vh - 200px);
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*main page*/
.main-page {
  display: flex;
  margin-top: 50px;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 35px;
}

.name-use {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Bungee Hairline;
  color: black;
  font-size: 5em;
  margin: 0 auto;
  line-height: 1.2em;
  text-align: right;
}

.sketch-button {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.saveButton {

  margin-top: 30px;

  color: black;
  width: 100px;
}

#knobs {
  width: 10%;
}

/*gallery*/
.images-gallery {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.imagesInGallery {
  width: 300px;
  margin: 10px;
  padding: 10px;
  transition: 2s;
  box-shadow: 10px 10px 25px rgb(221, 219, 209);
}

.imagesInGallery:hover {
  width: 350px;
}

.title-archive {
  color: #000000;
  margin: 30px auto;
  text-align: center;
  font-family: Fira Code;
  transition: 1s;
}

.title-archive:hover {
  color: #a78e78;

}

.container-archive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-left: 120px;
}

a:link {
  text-decoration: none;
}


li {
  list-style-type: none;

}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  left: 0;
  transform: scale(0);
  transform: skewX(-45);
  transform-origin: left;
  background: linear-gradient(302deg, #313f3c, #0d1815, #938686, #38435e);
  background-size: 800% 800%;

  -webkit-animation: grad 3s ease infinite;
  -moz-animation: grad 3s ease infinite;
  -o-animation: grad 3s ease infinite;
  animation: grad 3s ease infinite;
}

@-webkit-keyframes grad {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }
}

@-moz-keyframes grad {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }
}

@-o-keyframes grad {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }
}

@keyframes grad {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }

}

.transition-wipe {
  transition: .7s cubic-bezier(0, 0, .58, 1);
  transform: scaleX(0);
  opacity: 0;
}

html.is-animating .transition-wipe {
  transform: scaleX(1);
  opacity: 1;
}


.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}


.fade-in {
  animation: fadeIn 1s;
}


@keyframes fadeIn {
  from {
    transform: scale(1.02);
    opacity: 0;
  }


  to {
    transform: scale(1);
    opacity: 1;
  }
}

.forms {
 font-family: Helvetica;
}

/* profile */

.image {
  width: 400px;
  margin: 10px;
  padding: 10px;
  transition: 2s;
  box-shadow: 10px 10px 25px rgb(221, 219, 209);
}

.image:hover {
  width: 350px;
}

.personalSection{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.personalHeader{
  display: flex;
  position: fixed;
  width:40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 3%;
}

.personalHeader *{
  padding: 10px;
  margin: 10px auto;
  font-family: Fira Code;
}

.images-profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 40%;
  float: right;
  width: 70%;
} 

