* {
  margin: 0px;
  padding: 0px;
  color: #eeeeee;
}
/*navbar FALTA MOBILE FIRST*/
.menu {
  display: grid;
  height: 100%;
  grid-area: m;
  position: fixed;
  width: 60px;
  background-color: rosybrown;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.archive {
  writing-mode: vertical-lr;
}

.play {
  writing-mode: vertical-lr;
}

.about {
  writing-mode: vertical-lr;
}


/*main page*/
.main-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 35px;
}

.sketch {
  margin-top: 45px;
}

.saveButton {
  margin-top: 30px;
  width: 200px;
}

/*gallery*/
.images-gallery {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.image {
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.title-archive {
  color: #000000;
  margin: 0 auto;
  text-align: center;
}

.container-archive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-left: 120px;
}

a:link {
  text-decoration: none;
}